<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
    <div class="col-8 offset-2 mb-2">
    <h2><%= singleList.title %></h2>
    </div>
    </div>
    <div class="card col-6 offset-2">
    <img src="<%= singleList.image?.url%>" class="card-img-top show-img" alt="...">
    <div class="card-body">
    <p class="card-text">
        <ul>
        <li><b><%= singleList.title %></b></li>
        <li><%= singleList.description %></li>
       <li> &#8360;<%= singleList.price.toLocaleString("en-PK") %>/night</li>
        <li><%= singleList.location %></li>
        <li><%= singleList.country %></li>
       </ul>
    </p>
    </div>
    </div>
    <div class="show-btns mb-2">
    <a class="btn btn-danger  col- offset-2" href="/listings/<%= singleList._id %>/edit">EDIT LIST</a>
    <form method="POST" action="/listings/<%= singleList._id %>?_method=DELETE">
    <button type="submit" class="btn btn-dark  offset-10">DELETE</button>
    </form>
    </div>
    <br>
    <div class="col-8 offset-2 mb-3">
        <hr/>
        <h4> Leave your experience</h4>

        <form action="/listings/<%= singleList._id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-2 mt-2">
        <label class="form-label" for="rating">Rating </label>
        <input  type="range" min="1" max="5" id="rating" name="review[rating]"class="form-range">
        </div>
       
        <div class="mb-2 mt-2">
        <label for="comment"></label>
        <textarea name="review[comment]" id="comment" rows="5" cols="30" class="form-control" required></textarea>
         <div class="invalid-feedback">
      Comment is required.
         </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
   
</body>
