<%- layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <h3>EDIT LIST</h3>
        <form method="POST" action="/listings/<%= List._id %>?_method=PUT" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="List[title]" value="<%= List.title %>" type="text" required class="form-control">
            </div>

            <div class="row">
                <div class="mb-3 col-4">
                    <label for="location" class="form-label">Location</label>
                    <input name="List[location]" value="<%= List.location %>" type="text" class="form-control" required >
                </div>

                <div class="mb-3 col-5">
                    <label for="price" class="form-label">Price</label>
                    <input name="List[price]" value="<%= List.price %>" type="number" class="form-control" required >
                </div>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input name="List[country]" value="<%= List.country %>" type="text" class="form-control" required >
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input name="List[image][url]" value="<%= List.image?.url %>" type="text" class="form-control" required  >
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="List[description]" rows="10" class="form-control" required ><%= List.description %></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-danger">EDIT</button>
            </div>
        </form>
    </div>
</div>
<script src="./public/css/js/script.js"></script>